@font-face {
  font-family: "Norse-Bold";
  src: url(Norse-Bold.otf);
}

:root, html {
  font-family: "Roboto", system-ui;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
  background-color: black;
  width: 100%;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 70%;
  height: 100%;
}

.left {
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  flex: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.482);
  position: absolute;
  width: 100%;
  top: 20%;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 70px;
}
.logo-container span {
  align-self: center;
  color: white;
  font-family: "Norse-Bold";
  font-size: 4rem;
  margin-left: 5px;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.write-up {
  height: 35vh;
  background-color: #f9fafc;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.write-up p {
  width: 80%;
  margin-top: 30px;
}


.inputs {
  height: 30vh;
  background-color: white;
  padding-left: 25px;
  box-shadow:  5px 5px 8px black;
  
}
.inputs > div {
  display: flex;
  gap: 60px;
}
.inputs input {
  display: inline-block;
  margin-bottom: 20px;
  all: unset;
  font-family: "Roboto", system-ui san-serif;
  border: 1px solid blue;
  padding: 2px 10px;
  border-radius: 3px;
}
label {
  font-size: .7rem;
}

.btn-container {
  height: 35vh;
  background-color: #f9fafc;
  padding-left: 25px;
}

.btn-container button {
  border: none;
  padding: 8px 35px;
  background-color: #596D48;
  color: white;
  border-radius: 4px;
  margin-top: 25px;
}

.btn-container p {
  font-size: .8rem;
  margin-top: 20px;
}